[Unit]
Description=Send system activation/daily ping messages to Endless
Wants=network.target

[Timer]
OnBootSec=15m
OnUnitInactiveSec=3h
AccuracySec=30m

[Install]
WantedBy=multi-user.target
