[Unit]
Description=Send system activation/daily ping messages to Endless
Wants=network.target
ConditionDirectoryNotEmpty=/home

[Service]
Type=simple
ExecStart=/usr/lib/eos-phone-home/eos-phone-home
