Source: canonical-census
Section: admin
Priority: extra
Maintainer: Martin Pitt <martin.pitt@canonical.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.0
Vcs-Bzr: https://code.launchpad.net/~install-census-developers/install-census/trunk

Package: canonical-census
Architecture: all
Depends: cron, wget, ${misc:Depends}
Description: send "I am alive" ping to Canonical
 This package installs a daily cron job for surveying how many original OEM
 installs are running in the world. Note that this does not send any
 user specific data; it only transmits the operating system version
 (/var/lib/ubuntu_dist_channel), the machine product name, and a counter how
 many pings were sent.

