Source: eos-phone-home
Section: admin
Priority: extra
Maintainer: Robert McQueen <rob@endlessm.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.4
Vcs-Git: https://github.com/endlessm/eos-phone-home.git

Package: eos-phone-home
Architecture: all
Depends: wget, python, ${misc:Depends}
Description: send system activation/dailt ping messages to Endless
 This package installs a periodic systemd timer to send a one-off activation
 message (on first boot-up) and a daily ping to Endless, in order to discover
 how many Endless OS systems are started and how many remain active across the
 world.
 .
 Note that this does not send any identifiable user data: it only transmits the
 originally installed operating system version, the current version, the
 machine vendor & product name. When the first activation message is sent, it
 contains the machine serial number, but this is not sent again so cannot be
 used for tracking purposes. The daily ping simply contains a count of how many
 pings have been sent (cumulative).
